/* Whole document: */
body{
  font-size: 16px;
}
/* Headers */
h1.title {
  font-size: 24px;
  color: DarkGreen;
}
h1 { /* Header 1 */
  font-size: 24px;
  color: DarkGreen;
}
h2 { /* Header 2 */
    font-size: 22px;
      color: DarkRed;
}
h3 { /* Header 3 */
  font-size: 20px;
  color: Darkblue;
}

.session-title {
  /*font-weight: bold;*/
  color: DarkBlue;
  font-size: 18px;
}


blockquote {
    padding: 10px 20px;
    margin: 0 20px 20px;
    font-size: 15px;
    border-left: 1px solid #eee;
    border-color: steelblue;
}



